body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
/* 
.color-picker {
    border-color: #D1D5DB;
    width: 200px;

} */

.color-picker {
    appearance: none;
    width: 100%;
    height: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    font-size: 16px;
}

.color-palette {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: calc(100vh - 240px);
    margin-bottom: 20px;
}

.palette-block {
    flex: 1;

}

.color-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.color-box {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .controls {
        flex-direction: row;
    }

    .color-palette {
        flex-direction: row;
        justify-content: space-between;
    }

    .color-item {
        flex-direction: column;
        text-align: center;
    }

    .color-box {
        width: 100px;
        height: 100px;
        margin-right: 0;
        margin-bottom: 10px;
    }
}