body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 1em;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.color-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}

.color-picker {
    appearance: none;
    height: 6em; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 1 1 4em;
}

select, button {
    padding: 0.75em;
    font-size: 1rem;
}

.get-color-scheme {
    flex: 1 1 7em;
}

.color-scheme {
    flex: 1 1 7em;
}

.color-palette {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: calc(100vh - 240px);
    margin-bottom: 1em;
}

.palette-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .color-controls {
        flex-wrap: nowrap;
    }

    .get-color-scheme {
        width: auto;
    }

    .color-palette {
        flex-direction: row;
        justify-content: space-between;
    }
}